<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SCBD_Client.Properties.Settings.moodConnectionString"
            connectionString="Data Source=HAL9000\SQLEXPRESS;Initial Catalog=mood;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="port" value="8066" />
    <add key="address" value="localhost" />
  </appSettings>
</configuration>